body.B {
  background: black;
  color: white;
}

body.B hr {
  background-color: white;
}

#main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#current-date .today-is {
  color: #9e9e9e;
}

#letter h1 {
  font-size: 12rem;
}
